﻿@charset "utf-8";

/*** total style ***/
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body {
	background: white ;
	color: black;
	font-family: 'Source Sans Pro', 'メイリオ',Meiryo, 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', sans-serif;
	font-size: 100%;
	width: 100%;
}

/*** float ***/
.fl-l {
	float: left;
}
.fl-r {
	float: right;
}

/*** clearfix ***/
.cf:before, .cf:after {
	content:"";
	display:block;
	overflow:hidden;
}
.cf:after { clear:both; }
.cf { zoom:1; }

/*** normalize 対策 ***/
p {
	margin: 0;
}
ul {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
img{
	vertical-align: top;
}
table{
	border: 0;
	border-collapse:collapse;
}
table tr{
	padding: 0;
}
table tr td{
	border: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}

/*** mouse over ***/
a img {
	/*border: medium none transparent;*/
}
a:hover img {
	filter:alpha(opacity=60);
	opacity: 0.6;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
/*** inner width ***/
.inner {

}
.wrapper {

}
/********************************/

/***** common *****/
/* header
***************************************************************/
header {

}


/* footer
***************************************************/
footer {

}
